<!DOCTYPE html>
<html>
    <head>
      <link href="farmer.css" rel="stylesheet">
    </head>
    <body>
      <div>
        <div>

        </div>
        <div class="login">
            <h2>Login:</h2>
           <form method="GET" action="/getAdmin">
               <input type="email" id="email" placeholder="Enter your Email address" class="input-box" required><br>
               <input type="password" id="password" placeholder="Enter your password" class="input-box" required><br>
               <input type="submit" id="submit" class="btn-submit"><br>
               <a href="signup2.html">Don't have an account?</a>
               <a href="/index">Consumer</a>
               <a href="/forget">Forgot Password</a>
           </form>

        </div>
      </div>

    </body>
    <script>

    </script>
</html>