<!DOCTYPE html>
<html>
    <head>
      <link href="farmer.css" rel="stylesheet">
    </head>
    <body>
      <div>
        <div>

        </div>
        <div class="login">
            <h2>Login:</h2>
           <form method="POST" action="/forgotten">
               <input type="email" id="email" placeholder="Enter your Email address" class="input-box" required name="email"><br>
               
               <input type="submit" id="submit" class="btn-submit"><br>
               <a href="signup.html">Don't have an account?</a>
               <label><%=Data.password%></label>
               
           </form>

        </div>
      </div>

    </body>
    <script>

    </script>
</html>